<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"> </script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>-->


    <script src="/js/school.js"></script>


</head>

<body>


<div class = "header_image" style="background: url('/img/lake_house.png'); background-size: 100%;">

    <div class="bg_darken_box">

        <div class="banner">
            <img src="/img/liveschool_logo.png" height="40px" align="left">
            <img src="/img/innovare_logo.png"  height="40px" align="right">
        </div>

        <header_text>TAILORED LESSONS FROM EXPERT TEACHERS</header_text>

        <script>
            var x = 'dashboard';

            function c(y) {
                if (y != x) {
                    document.getElementById(y).style.display = "block";
                    document.getElementById(x).style.display = "none";
                }
                x = y;
            }
        </script>

        <div class="navbar" id="myNavbar">
            <a href="/logout">Log out</a>
            <a href="#" onclick="c('search_teachers');">Search Teachers</a>
            <a href="#" onclick="c('browse_teachers');">Browse Teachers</a>
            <a href="#" onclick="c('dashboard');">Dashboard</a>

            <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>



    </div>

</div>


<div class="rest_of_page">
    <table>
        <tr>
            <td>
                <div class = "profile_summary">

                    <% if (school.img_url != "" && school.img_url != null) { %>
                    <img src="<%= school.img_url %>" width="150" style="border-radius: 4px;"><br>
                    <% } else { %>
                    <img src="/img/puthukkudiyiruppu_college.jpg" width="150" style="border-radius: 4px;"><br>
                    <% } %>
                    <br>
                    <h2>School: <%= school.school_name %></h2>
                    <p> <%= school.bio %></p></p>
                </div>
            </td>

            <td>
                <div class="main_content">

                    <div id="dashboard">
                        <h2>Dashboard</h2>
                        <p>To browse through LiveSchool's database of teachers, or conduct a text search, click
                        "browse teachers" above. To search for teachers with availabilities matching your specific schedule,
                        click "search teachers". </p>
                        <p>Your next English class is with <b>Luciano Floridi</b> at <b>3pm</b> on <b>Wednesday</b></p>


                        <h3>Your Teachers</h3>

                        <table style="padding: 10px; background-color: ghostwhite;">

                             <%len = school.teacher_emails.length%>

                            <% if (len < 1) {%>
                            <p>You are not currently connected with any teachers. Browse or search to find matching teachers.</p>
                            <% } %>

                             <% for(var i=0; i<len; i++) {%>
                                <% for(var j=0; j<teacher_array.length; j++) {%>
                                    <% if (school.teacher_emails[i] == teacher_array[j].email) {%>

                            <tr>
                                <td style="padding-bottom: 20px">

                                    <% if (teacher_array[j].img_url != null && teacher_array[j].img_url != "") { %>
                                    <img src="<%= teacher_array[j].img_url %>" width="70" style="border-radius: 4px"><br>
                                    <% } else { %>
                                    <img src="/img/luciano_floridi.jpg" width="70" style="border-radius: 4px"><br>
                                    <% } %>

                                </td>
                                <td style="padding-bottom: 20px"><%= teacher_array[j].teacher_name %></td>
                                <td style="padding-bottom: 20px"> <%= teacher_array[j].bio %></td>
                                <td style="padding-bottom: 20px"> <%= teacher_array[j].country %></td>
                                <form method="post" action="/delete_teacher">
                                    <td><a href="mailto:<%= teacher_array[j].email%>"><%= teacher_array[j].email%></a>
                                        <input value="<%= teacher_array[j].email%>" name = "teacher_email" style="display: none"></td>
                                    <td><input type="submit" value="delete"></td>
                                </form>
                            </tr>
                                    <% } %>
                                <% } %>
                             <% } %>
                        </table>

                    </div>


                    <div id="browse_teachers" style="display: none">
                        <h2>Browse teachers</h2>

                        <p>Use the following form to browse available teachers. Click "add" to connect with a specific teacher. The search
                        box allows you to filter results by a key word. </p><br>

                        <table id = "table_id" style="font-size: smaller">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Bio</th>
                                <th>Country</th>
                                <th>email</th>
                                <th>Add</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i<teacher_array.length; i++) {%>
                            <tr>

                                <td><i><%= teacher_array[i].teacher_name %></i></td>
                                <td> <%= teacher_array[i].bio %></td>
                                <td> <%= teacher_array[i].country %></td>
                                <form method="post" action="/add_teacher">
                                    <td><a href="mailto:<%= teacher_array[i].email%>"><%= teacher_array[i].email%></a>
                                    <input value="<%= teacher_array[i].email%>" name = "teacher_email" style="display: none"></td>
                                    <td><input type="submit" value="Add"></td>
                                </form>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>


                    <div id="search_teachers" style="display: none">

                        <h2>Find Matching Teachers</h2>
                        <p>Choose the day of your English class:</p>
                        <select class = "search" name="day" id = "day">
                            <option value="" disabled selected hidden>select day...</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select><br>
                        <p>Choose the time of your English class:</p>
                        <select class = "search" name="time" id = "time">
                            <option value="" disabled selected hidden>select time...</option>
                            <% for(var i=6; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>am</option>
                            <% } %>
                            <% for(var i=0; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>pm</option>
                            <% } %>
                        </select><br><br>
                        <button type="submit" onclick="search(document.getElementById('day'), document.getElementById('time')); c('search_results');">Search teachers</button>
                        <br>

                    </div>


                    <div id="search_results" style="display: none">

                        <h2>Matching Teachers</h2>

                        <% function search(day, time) {
                        %>

                        <p>HELLO!!</p>

                        <%
                        for(var i=0; i<teacher_array.length; i++) {

                        if (teacher_array[i][day] != null) {
                        for(var j=0; j<teacher_array[i][day].length; j++) {
                        if (teacher_array[i][day][j] == time) { %>

                        <p>Name: <%= teacher_array[i].teacher_name %> </p><br>
                        <p>Bio: <%= teacher_array[i].bio %></p>

                        <%            }%>
                        <%       }%>
                        <%   }%>
                        <%}%>
                        <%}%>

                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>

</body>

