<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora"/>
    <link rel="stylesheet" type="text/css" href="/css/modal_popup.css">

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"> </script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>-->


    <script src="/js/school.js"></script>


</head>

<body>


<div class = "header_image" style="background: url('/img/lake_house.png'); background-size: 100%;">

    <div class="bg_darken_box">

        <div class="banner">
            <img src="/img/liveschool_logo.png" height="40px" align="left">
            <img src="/img/innovare_logo.png"  height="40px" align="right">
        </div>

        <header_text>TAILORED LESSONS FROM EXPERT TEACHERS</header_text>

        <script>
            var x = 'dashboard';

            function c(y) {
                if (y != x) {
                    document.getElementById(y).style.display = "block";
                    document.getElementById(x).style.display = "none";
                }
                x = y;
            }
        </script>

        <div class="navbar" id="myNavbar">
            <a href="/logout">Log out</a>
            <a href="#" onclick="c('edit_profile');">Edit Profile</a>
            <a href="#" onclick="c('search_teachers');">Search Teachers</a>
            <a href="#" onclick="c('browse_teachers');">Browse Teachers</a>
            <a href="#" onclick="c('dashboard');">Dashboard</a>
            <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>



    </div>

</div>


<div class="rest_of_page">
    <table>
        <tr>
            <td>
                <div class = "profile_summary">

                    <% if (school.img_url != "" && school.img_url != null) { %>
                    <img src="<%= school.img_url %>" width="150" style="border-radius: 4px;"><br>
                    <% } else { %>
                    <img src="/img/puthukkudiyiruppu_college.jpg" width="150" style="border-radius: 4px;"><br>
                    <% } %>
                    <br>
                    <h2>School: <%= school.school_name %></h2>
                    <p> <%= school.bio %></p></p>
                </div>
            </td>

            <td>
                <div class="main_content">

                    <div id="dashboard">
                        <h2>Dashboard</h2>
                        <p>To browse through LiveSchool's database of teachers, or conduct a text search, click
                        "browse teachers" above. To search for teachers with availabilities matching your specific schedule,
                        click "search teachers". </p>

                        <h3>Your Classes</h3>

                        <%len = school.classes.length%>
                        <% if (len < 1) {%>
                            <p>You do not currently have any scheduled classes. Find and hire a teacher to add a class. </p>
                        <% } %>

                        <% for(var i=0; i<len; i++) {%>
                            <p><%=school.classes[i].subject%> at <%=school.classes[i].time %>:00 on <%=school.classes[i].day%>
                                with <%=school.classes[i].teacher_name%>.
                            </p>
                        <%}%>


                        <h3>Your Teachers</h3>

                        <table style="padding: 10px; background-color: ghostwhite;">

                            <% if (len < 1) {%>
                            <p>You are not currently connected with any teachers. Browse or search to find matching teachers.</p>
                            <% } %>

                             <% for(var i=0; i<len; i++) {%>
                                <% for(var j=0; j<teacher_array.length; j++) {%>
                                    <% if (school.classes[i].teacher_email == teacher_array[j].email) {%>

                            <tr>
                                <td style="padding-bottom: 20px">

                                    <% if (teacher_array[j].img_url != null && teacher_array[j].img_url != "") { %>
                                    <img src="<%= teacher_array[j].img_url %>" width="70" style="border-radius: 4px"><br>
                                    <% } else { %>
                                    <img src="/img/default_profile_picture.png" width="70" style="border-radius: 4px"><br>
                                    <% } %>

                                </td>
                                <td style="padding-bottom: 20px"><%= teacher_array[j].teacher_name %></td>
                                <td style="padding-bottom: 20px"> <%= teacher_array[j].bio %></td>
                                <td style="padding-bottom: 20px"> <%= teacher_array[j].country %></td>
                                <form method="post" action="/delete_teacher">
                                    <td><a href="mailto:<%= teacher_array[j].email%>"><%= teacher_array[j].email%></a>
                                        <input value="<%= teacher_array[j].email%>" name = "teacher_email" style="display: none"></td>
                                    <td><input type="submit" value="remove teacher"></td>
                                </form>
                            </tr>
                                    <% } %>
                                <% } %>
                             <% } %>
                        </table>

                    </div>


                    <div id="browse_teachers" style="display: none">
                        <h2>Browse teachers</h2>

                        <p>Use the following form to browse available teachers. Click "add" to connect with a specific teacher. The search
                        box allows you to filter results by a key word. </p><br>

                        <table id = "table_id" style="font-size: smaller">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Bio</th>
                                <th>Country</th>
                                <th>email</th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i<teacher_array.length; i++) {%>
                                <tr>

                                    <td><i><%= teacher_array[i].teacher_name %></i></td>
                                    <td> <%= teacher_array[i].bio %></td>
                                    <td> <%= teacher_array[i].country %></td>

                                    <td><a href="mailto:<%= teacher_array[i].email%>"><%= teacher_array[i].email%></a></td>

                                    <!-- Trigger/Open The Modal -->
                                    <% //console.log(JSON.stringify(teacher_array[i])); %>
                                    <td><button type="button" class="myBtn" onclick="hireTeacher(<%=JSON.stringify(teacher_array[i])%>);">Choose a class</button></td>

                                </tr>
                            <% } %>
                            </tbody>
                        </table>

                        <script>
                        function hireTeacher(selected_teacher) {
                            c('hire_teacher');

                            var select_form = document.getElementById('select_teacher_form');

                            while (select_form.hasChildNodes()) {
                                select_form.removeChild(select_form.lastChild);
                            }
                            var input_email = document.createElement("input");
                            input_email.type = "text";
                            input_email.value = selected_teacher.email;
                            input_email.name = "teacher_email";
                            input_email.style.display = "none";
                            select_form.appendChild(input_email);

                            var input_name = document.createElement("input");
                            input_name.type = "text";
                            input_name.value = selected_teacher.teacher_name;
                            input_name.name = "teacher_name";
                            input_name.style.display = "none";
                            select_form.appendChild(input_name);


                            // Dynamically generate day/time selection drop-down menus
                            var weekday;
                            for (var day = 0; day < 7; day++) {
                                if (day == '0')
                                    weekday = "Monday";
                                else if (day == '1')
                                    weekday = "Tuesday";
                                else if (day == '2')
                                    weekday = "Wednesday";
                                else if (day == '3')
                                    weekday = "Thursday";
                                else if (day == '4')
                                    weekday = "Friday";
                                else if (day == '5')
                                    weekday = "Saturday";
                                else
                                    weekday = "Sunday";

                                if (selected_teacher[weekday].length > 0) {
                                    var select_day = document.createElement("select");
                                    select_day.name = weekday;
                                    select_day.className = "small_select"; //works?

                                    // Add "select time..." message to drop-down
                                    var message = document.createElement("option");
                                    message.value = "";
                                    message.selected = true;
                                    message.disabled = true;
                                    message.appendChild(document.createTextNode(weekday + "..."));
                                    select_day.appendChild(message);

                                    // Add times
                                    for (var i = 0; i < selected_teacher[weekday].length; i++) {
                                        var option = document.createElement("option");
                                        option.value = selected_teacher[weekday][i];
                                        option.appendChild(document.createTextNode(selected_teacher[weekday][i]));
                                        select_day.appendChild(option);
                                    }
                                    select_form.appendChild(select_day);
                                }
                            }


                            select_form.appendChild(document.createElement("br"));
                            select_form.appendChild(document.createElement("br"));

                            // Dynamically generate subject selection drop-down menu
                            var select_subject = document.createElement("select");
                            select_subject.name = "subject";
                            select_subject.className = "search";
                            select_subject.required = true;

                            // Add "select subject..." message to drop-down
                            select_form.appendChild(document.createTextNode("Select a subject for the class."));
                            select_form.appendChild(document.createElement("br"));
                            select_form.appendChild(document.createElement("br"));

                            var message = document.createElement("option");
                            message.value = "";
                            message.selected = true;
                            message.disabled = true;
                            message.appendChild(document.createTextNode("Select subject..."));
                            select_subject.appendChild(message);

                            // Dynamically add teacher's subjects to menu
                            for (var j = 0; j < selected_teacher.subjects.length; j++) {
                                var option2 = document.createElement("option");
                                option2.value = selected_teacher.subjects[j];
                                option2.appendChild(document.createTextNode(selected_teacher.subjects[j]));
                                select_subject.appendChild(option2);
                            }
                            select_form.appendChild(select_subject);

                            select_form.appendChild(document.createElement("br"));
                            select_form.appendChild(document.createElement("br"));

                            var submit_button = document.createElement("button");
                            submit_button.type = "submit";
                            submit_button.appendChild(document.createTextNode("Hire teacher for this class!"));
                            select_form.appendChild(submit_button);


                        }


                        </script>

                    </div>

                    <div id="hire_teacher" style="display: none">
                        <h2>Select Subject and Time</h2>
                        <p>Choose from this teacher's available subjects and times to create a class with him or her. </p>
                        <p>Select a class time from <b>a single</b> day of the week. </p>

                        <form id = "select_teacher_form" method="post" action="/hire_teacher">

                            <!--subject, day, time select created dynamically in javascript-->

                        </form>
                    </div>

                    <div id="search_teachers" style="display: none">

                        <h2>Find Matching Teachers</h2>
                        <p>Choose a subject requiring a teacher:</p>
                        <select class = "search" name="subject" id = "subject">
                            <option value="" disabled selected hidden>select subject...</option>
                            <option value="English">English</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Science">Science</option>
                            <option value="History">History</option>
                            <option value="Programming">Programming</option>
                            <option value="Geography">Geography</option>
                        </select><br>
                        <p>Choose a day for your class:</p>
                        <select class = "search" name="day" id = "day">
                            <option value="" disabled selected hidden>select day...</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select><br>
                        <p>Choose a time:</p>
                        <select class = "search" name="time" id = "time">
                            <option value="" disabled selected hidden>select time...</option>
                            <% for(var i=6; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>am</option>
                            <% } %>
                            <% for(var i=0; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>pm</option>
                            <% } %>
                        </select><br><br>
                        <button type="button" class="search" onclick="search_teachers(<%=JSON.stringify(teacher_array)%>);">Search teachers</button>
                        <br>

                        <script>
                            function search_teachers(teacher_arr) {
                                c('search_results');

                                var subject_needed = document.getElementById("subject").value;
                                var weekday_needed = document.getElementById("day").value;
                                var selected_time = document.getElementById("time").value;

                                var matching_teachers_div = document.getElementById('matching_teachers');
                                while (matching_teachers_div.hasChildNodes()) {
                                    matching_teachers_div.removeChild(matching_teachers_div.lastChild);
                                }

                                var num_teachers_found = 0;

                                for (var i = 0; i < teacher_arr.length; i++) {
                                    if (teacher_arr[i][weekday_needed] != null) {
                                        if (teacher_arr[i].subjects.indexOf(subject_needed) !== -1
                                                        && teacher_arr[i][weekday_needed].indexOf(selected_time) !== -1) {
                                            num_teachers_found++;
                                            matching_teachers_div.appendChild(document.createTextNode("Teacher:" + teacher_arr[i].teacher_name + ", email: " + teacher_arr[i].email
                                                + ", teachers: " + num_teachers_found + ", all: " + teacher_arr.length));
                                        }
                                    }

                                }

                                if (num_teachers_found === 0) {
                                    matching_teachers_div.appendChild(document.createTextNode("No teachers found for " + subject_needed + " at "
                                        + selected_time + ":00" + " on " + weekday_needed + ". Try a different day or time."));
                                }

                            }

                        </script>

                    </div>


                    <div id="search_results" style="display: none">

                        <h2>Matching Teachers</h2>

                        <div id="matching_teachers">
                            // Dynamically generated from script above.
                        </div>

                    </div>

                    <div id="edit_profile" style="display: none">
                        <h2>Your Profile</h2>
                        <form method="post" action="/edit_school_profile">
                            Name: <input type="text" name="s_name" value='<%=school.school_name%>'><br>
                            Image url: <input type="text" name="s_image_url" value='<%=school.img_url%>'><br>
                            Bio: <input type="text" name="s_bio" value='<%=school.bio%>'><br>
                            <!--New Password: <input type="text" name="fpassword"><br>-->
                            <!--New Time-->
                            <input type="submit" value="Change">
                        </form>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>


</body>

