<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"> </script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>-->


    <script src="/js/school.js"></script>


</head>

<body>


<div class = "header_image" style="background: url('/img/lake_house.png'); background-size: 100%;">

    <div class="bg_darken_box">

        <div class="banner">
            <img src="/img/liveschool_logo.png" height="40px" align="left">
            <img src="/img/innovare_logo.png"  height="40px" align="right">
        </div>

        <header_text>TAILORED LESSONS FROM EXPERT TEACHERS</header_text>

        <script>
            var x = 'dashboard';

            function c(y) {
                if (y != x) {
                    document.getElementById(y).style.display = "block";
                    document.getElementById(x).style.display = "none";
                }
                x = y;
            }
        </script>

        <div class="navbar" id="myNavbar">
            <a href="/logout">Log out</a>
            <a href="#" onclick="c('search_teachers');">Find teachers</a>
            <a href="#" onclick="c('dashboard');">Dashboard</a>

            <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>



    </div>

</div>


<div class="rest_of_page">
    <table>
        <tr>
            <td>
                <div class = "profile_summary">
                    <img src="/img/puthukkudiyiruppu_college.jpg" width="150"><br>
                    <b><%= school.school_name %></b><br>
                    <p> <%= school.bio %></p></p>
                </div>
            </td>

            <td>
                <div class="main_content">

                    <div id="dashboard">
                        <h2>Dashboard</h2>
                        <p>Temporary information for development</p>
                        <p>Name: <b><i><%= school.school_name %></i></b></p>
                        <p>Country: <b><i><%= school.country %></i></b></p>
                        <p>Timezone: <b><i><%= school.timezone %></i></b></p>

                        <h2>Temporary list of teachers</h2>



<table id = "table_id">
    <thead>
    <tr>
        <th>Name</th>
        <th>Bio</th>
        <th>email</th>
        <th>Button</th>
    </tr>
    </thead>
    <tbody>
                        <% for(var i=0; i<teacher_array.length; i++) {%>
    <tr>

        <td><%= teacher_array[i].teacher_name %></td>
        <td> <%= teacher_array[i].bio %></td>
        <form method="post" action="/add_teacher">
        <td><input value="<%= teacher_array[i].email%>" name = "teacher_email"></td>
        <td><input type="submit" value="Add"></td>
        </form>
    </tr>
                        <% } %>
    </tbody>
</table>

                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>>
                                <th>button</th>
                            </tr>
                            </thead>
                            <tbody>
                             <%len = school.teacher_emails.length%>


                             <% for(var i=0; i<len; i++) {%>
                                <% for(var j=0; j<teacher_array.length; j++) {%>
                             <% console.log(teacher_array.length)%>
                                    <% if (school.teacher_emails[i] == teacher_array[j].email) {%>
                            <tr>

                                <td><%= teacher_array[j].teacher_name %></td>
                                <form method="post" action="/delete_teacher">
                                    <td><input value="<%= teacher_array[j].email%>" name = "teacher_email"></td>
                                    <td><input type="submit" value="delete"></td>
                                </form>
                            </tr>
                                    <% } %>
                                <% } %>
                             <% } %>
                            </tbody>
                        </table>



                        <p>Your next English class is with Luciano Floridi at 3pm on Wednesday</p>
                        <h3>Your Teachers</h3>
                        <p><b>Luciano Floridi</b><br>
                            I am currently Professor of Philosophy of Information
                            and Director of the Digital Ethics Lab, at the University of Oxford,
                            and Research Associate and Fellow in Information Policy at the Department
                            of Computer Science, University of Oxford.    [Contact | Remove]</p>
                        <p><b>Steve Meyer</b><br>
                            I'm a former college professor with formal training in ESL (English
                            as a Second Language) teaching, and offer custom classes at all levels
                            of English proficiency.  [Contact | Remove]</p>
                    </div>

                    <div id="search_teachers" style="display: none">
                        <h2>Search for matching teachers</h2>

                        <p>Choose the day of your English class:</p>
                        <select name="day" id = "day">
                            <option value="" disabled selected hidden>select day...</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select><br>
                        <p>Choose the time of your English class:</p>
                        <select name="time" id = "time">
                            <option value="" disabled selected hidden>select time...</option>
                            <% for(var i=6; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>am</option>
                            <% } %>
                            <% for(var i=0; i<12; i++) {%>
                            <option value="<%=i%>"><%=i%>pm</option>
                            <% } %>
                        </select><br><br>
                        <button class="" onclick="search(document.getElementById('day'), document.getElementById('time')); c('search_results');">Search teachers</button>
                        <br>
                    </div>


                    <div id="search_results" style="display: none">

                        <h2>Matching Teachers</h2>

                        <% function search(day, time) {
                            %>

                            <p>HELLO!!</p>

                            <%
                        for(var i=0; i<teacher_array.length; i++) {

                        if (teacher_array[i][day] != null) {
                              for(var j=0; j<teacher_array[i][day].length; j++) {
                                     if (teacher_array[i][day][j] == time) { %>

                        <p>Name: <%= teacher_array[i].teacher_name %> </p><br>
                        <p>Bio: <%= teacher_array[i].bio %></p>

                        <%            }%>
                        <%       }%>
                        <%   }%>
                        <%}%>
                        <%}%>

                    </div>
            </td>
        </tr>
    </table>
</div>

</body>

