<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"></script>

</head>

<body>


    <div class = "header_image" style="background: url('/img/winding_road.jpg'); background-size: 100%">

        <div class="bg_darken_box">

            <div class="banner">
                <img src="/img/liveschool_logo.png" height="40px" align="left">
                <img src="/img/innovare_logo.png"  height="40px" align="right">
            </div>

            <header_text>CREATE YOUR OWN SCHEDULE.</header_text>

            <script>
                var x = 'dashboard';

                function c(y) {
                    if (y != x) {
                        document.getElementById(y).style.display = "block";
                        document.getElementById(x).style.display = "none";
                    }
                    x = y;
                }
            </script>

            <div class="navbar" id="myNavbar">
                <a href="/logout">Log out</a>
                <a href="#" onclick="c('edit_profile');">Edit Profile</a>
                <a href="#" onclick="c('timetable');">Your availabilities</a>
                <a href="#" onclick="c('dashboard');">Dashboard</a>
                <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>



        </div>

    </div>


         <div class="rest_of_page">
             <table>
                 <tr>
                    <td>
                        <div class = "profile_summary">
                            <% if (teacher.img_url != "") { %>
                                <img src="<%= teacher.img_url %>" width="150" style="border-radius: 4px;"><br>
                            <% } else { %>
                                <img src="/img/default_profile_picture.png" width="150" style="border-radius: 4px;"><br>
                            <% } %>
                                <h2>Teacher: <%= teacher.teacher_name %></h2>
                                <p>Bio: <%= teacher.bio %></p>
                        </div>
                    </td>

                     <td>
                        <div class="main_content">

                            <div id="dashboard">
                                <h2>Dashboard</h2>

                                <h3>Your Weekly Classes</h3>

                                    <%var len = school_array.length;%>
                                    <%var connected_with_at_least_one_school = false;%>


                                    <% for(var i=0; i<len; i++) {%>
                                        <% if (school_array[i].classes != null) {%>

                                        <% for(var j=0; j<school_array[i].classes.length; j++) {%>
                                            <% if (school_array[i].classes[j].teacher_email == teacher.email) {%>
                                                <% connected_with_at_least_one_school = true; %>

                                                <table style="padding: 10px; background-color: ghostwhite;">

                                                <tr>
                                                    <th></th>
                                                    <th>Class</th>
                                                    <th>School</th>
                                                    <th>School Bio</th>
                                                    <th>Location</th>
                                                    <th>Contact</th>
                                                </tr>

                                                <tr>
                                                    <td style="padding-bottom: 20px">

                                                        <% if (school_array[i].img_url != null && school_array[i].img_url != "") { %>
                                                        <img src="<%= school_array[i].img_url %>" width="70" style="border-radius: 4px"><br>
                                                        <% } else { %>
                                                        <img src="/img/default_school_profile_picture.jpg" width="70" style="border-radius: 4px"><br>
                                                        <% } %>

                                                    </td>
                                                    <td style="padding-bottom: 20px"><%=school_array[i].classes[j].subject%> at <%=school_array[i].classes[j].time%>:00
                                                        on <%=school_array[i].classes[j].day%>.</td>
                                                    <td style="padding-bottom: 20px"><%= school_array[i].school_name %></td>
                                                    <td style="padding-bottom: 20px"> <%= school_array[i].bio %></td>
                                                    <td style="padding-bottom: 20px"> <%= school_array[i].country %></td>
                                                    <form method="post" action="/remove_class">
                                                        <td><a href="mailto:<%= school_array[i].email%>"><%= school_array[i].email%></a>
                                                            <input value="<%= school_array[i].email%>" name = "school_email" style="display: none"></td>
                                                        <td><input type="submit" value="Remove class"></td>
                                                    </form>
                                                </tr>
                                                </table>

                                            <% } %>
                                          <% } %>
                                       <% } %>

                                    <% } %>

                                    <% if (connected_with_at_least_one_school == false) {%>
                                        <p>You have not yet been added by any schools.</p>
                                    <% } %>

                            </div>

                            <div id="timetable" style="display: none">
                                <h2>Your Availabilities</h2>

                                <p>You're available to teach
                                    <b>
                                        <%if (teacher.subjects != null) {%>
                                            <%for (var s = 0; s < teacher.subjects.length; s++) {%>
                                                <%if (s > 0) {%>
                                                    </b> and <b>
                                                <%}%>
                                                <%=teacher.subjects[s]%>
                                            <%}%>
                                        <%}%>
                                    </b>
                                    at the following times. </p>

                                <form  method="post" action="/edit_teacher_subject">
                                    <select id="subjectsId" name="subjects[]" multiple="multiple" required>
                                        <!--<option value="" disabled style="font-weight: bold; color: white;">Select your subjects...</option>-->
                                        <option value="English">English</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Science">Science</option>
                                        <option value="History">History</option>
                                        <option value="Programming">Programming</option>
                                        <option value="Geography">Geography</option>
                                    </select><br>
                                    <button type="submit">Change subject</button>
                                </form>

                                <table id="availabilities">
                                    <tr>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                        <th>Sunday</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <% if (teacher.Monday != null) { %>
                                            <%      for (var i = 0; i < teacher.Monday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Monday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (teacher.Tuesday != null) { %>
                                            <%      for (var i = 0; i < teacher.Tuesday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Tuesday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>

                                        </td>
                                        <td>
                                            <% if (teacher.Wednesday != null) { %>
                                            <%      for (var i = 0; i < teacher.Wednesday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Wednesday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (teacher.Thursday != null) { %>
                                            <%      for (var i = 0; i < teacher.Thursday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Thursday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (teacher.Friday != null) { %>
                                            <%      for (var i = 0; i < teacher.Friday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Friday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (teacher.Saturday != null) { %>
                                            <%      for (var i = 0; i < teacher.Saturday.length; i++) {%>
                                                    <%var time = parseInt(teacher.Saturday[i], 10);%>
                                                    <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <%      } %>
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (teacher.Sunday != null) { %>
                                            <%      for (var i = 0; i < teacher.Sunday.length; i++) {%>
                                                <%var time = parseInt(teacher.Sunday[i], 10);%>
                                                <%=time%>:00 - <%=(time+1)%>:00<br>
                                            <!--<%=teacher.Sunday[i]%>:00 - <%=teacher.Sunday[i+1]%>:00<br>-->
                                            <%      } %>
                                            <%}%>
                                        </td>
                                    </tr>

                                </table>

                                <form  method="post" action="/edit_teacher_timetable">
                                    <select id="mondayId" name="Monday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Monday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="tuesdayId" name="Tuesday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Tuesday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="wednesdayId" name="Wednesday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Wednesday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="thursdayId" name="Thursday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Thursday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="fridayId" name="Friday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Friday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="saturdayId" name="Saturday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Saturday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>
                                    <select id="sundayId" name="Sunday[]" multiple="multiple">
                                        <option value="" disabled style="font-weight: bold; color: white;">Sunday...</option>
                                        <% for(var i=6; i<24; i++) {%>
                                        <option value="<%=i%>"><%=i%>:00 - <%=i+1%>:00</option>
                                        <% } %>
                                    </select>

                                    <button type="submit">Change Timetable</button>

                                </form>


                                <!--<p>Click on timetable and drag to create a new timeslot, or to move an existing one.</p>

                                <div id="schedule2" style="width: 600px; height: 100%"></div>-->

                                <script>
                                    /*$(function () {
                                        $("#schedule2").jqs();

                                        $("#export").click(function () {
                                            $("#result").val($("#schedule2").jqs('export'));
                                        })
                                    });

                                    // $("#schedule2").jqs({
                                    //     mode: "edit",
                                    //     periodBackgroundColor: 'rgba(100, 203, 62, 0.7)',
                                    //     data: [
                                    //         {
                                    //             day: 0,
                                    //             periods: [
                                    //                 ["20:00", "00:00"],
                                    //                 ["00:00", "02:00"]
                                    //             ]
                                    //         }, {
                                    //             day: 3,
                                    //             periods: [
                                    //                 ["00:00", "08:30"],
                                    //                 ["09:00", "12:00"]
                                    //             ]
                                    //         }
                                    //         , {
                                    //             day: 5,
                                    //             periods: [
                                    //                 ["03:00", "07:30"],
                                    //                 ["06:00", "12:00"]
                                    //             ]
                                    //         }
                                    //     ]
                                    // });

                                    var time_data = $("#schedule").jqs('export');
                                    // var time_data;
                                    function saveTimetable() {
                                        // time_data = $('#schedule').jqs('export');
                                        console.log(time_data);
                                        jQuery.ajax({
                                            type:"POST",
                                            url:"/update_teacher",
                                            dataType:"json",
                                            contentType: "application/json; charset=utf-8,",
                                            // data: JSON.stringify()


                                            success: function (time_data) {
                                                alert(time_data);

                                            },
                                            failure: function (errMsg){
                                                alert(errMsg);
                                            }
                                        });

                                    }

                                    // JS code here to export availabilities as variable
                                    // JS function here to POST variable to a predefined route/control-path
                                    // that updates the current teacher's availabilities in the DB.
                                    // [below script] button with "onClick = "thefunction()"
                                    */

                                </script>


                            </div>

                            <div id="edit_profile" style="display: none">
                                <h2>Your Profile</h2>
                                <form method="post" action="/edit_teacher_profile">
                                    Name: <input type="text" name="t_name" value='<%=teacher.teacher_name%>'><br>
                                    Image url: <input type="text" name="t_image_url" value='<%=teacher.img_url%>'><br>
                                    Bio: <input type="text" name="t_bio" value='<%=teacher.bio%>'><br>
                                    <!--New Password: <input type="text" name="fpassword"><br>-->
                                    <!--New Time-->
                                    <input type="submit" value="Change">
                                </form>
                            </div>

                        </div>
                     </td>
                 </tr>
             </table>
         </div>

</body>

</html>